CompileFlags:
  Add:
    - "--sysroot=/home/xinjie/ThirdParty/MRS_Toolchain_Linux_x64_V1.92/RISC-V_Embedded_GCC/riscv-none-embed"
    - "--target=riscv32"
    - "-Wno-unused-parameter"
  Remove:
    - "-march=rv32imafc"
    - "-mabi=ilp32f"
